<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4DNSBZwIzxddR-RVXicXGIpm9rjSqw4c</string>
	<key>GCM_SENDER_ID</key>
	<string>926515196151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.primaprova.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>maskenote-ed4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>maskenote-ed4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926515196151:ios:960f7776c9d4c9fe8ae3f2</string>
</dict>
</plist>